@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- --- --- --- */
/* Allowing Spider-man fonts to be used! */
@layer base {
  .font-spidey {
    font-family: var(--font-spidey);

    @apply tracking-wide;
  }
  .font-amazing {
    font-family: var(--font-amazing);

    @apply tracking-wide;
  }
}

/* --- --- --- --- */
/* Custom Tailwind classes for text shadows */
@layer utilities {
  .text-outline-with-shadow {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000, -3px 3px var(--tw-shadow-color);
  }
  .text-outline {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000;
  }
}

:root {
  --textsize: 25px;
  --ballwidth: calc(var(--textsize) - 9px);
  --ballheight: calc(var(--textsize) - 9px);
  --topbounce: calc(var(--textsize) * 2);
}

/* --- --- --- --- */
/* Bouncing "O" in Navbar */
.text {
  color: #ff5722;
  display: inline-block;
  height: var(--topbounce);
  line-height: var(--topbounce);
  font-size: 15px;
}

.bounce {
  position: relative;
  display: inline-block;
  height: 36px;
  width: var(--ballwidth);
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ff5722;
    background-color: #ffffff00;
    animation: bounce 0.75s alternate infinite ease;
    transition: all 300ms ease-out;
  }
}

@media (min-width: 640px) {
  .text {
    font-size: var(--textsize);
  }

  .bounce {
    &:before {
      width: var(--ballwidth);
      height: var(--ballheight);
      left: 0;
      border-width: 2px;
    }
  }
}

.text:hover .bounce {
  &:before {
    animation-play-state: paused;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 70px 70px 20px 20px;
    transform: scaleX(1.2);
  }
  35% {
    height: var(--ballheight);
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

/* --- --- --- --- */
/* Nav bar links having sliding underlines */
nav a::before {
  animation: slide 1.5s alternate infinite ease;
  transition: all 150ms ease-in;
}

nav a:hover::before {
  animation: none;
}

@keyframes slide {
  0% {
    left: 0px;
  }

  100% {
    left: 10px;
  }
}

.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.6719999999999999;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* Potential foray into a 3D hover thing */
/* https://dev.to/webdiscus/3d-parallax-effect-by-moving-mouse-using-htmlcss-7b2 */
/* https://www.aktek.io/en/about-us */
/* .threed-effect {
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
  transform-style: preserve-3d;
  transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
} */
