@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- --- --- --- */
/* Allowing Spider-man fonts to be used! */
@layer base {
  .font-spidey {
    font-family: var(--font-spidey);

    @apply tracking-wide;
  }
  .font-amazing {
    font-family: var(--font-amazing);

    @apply tracking-wide;
  }
}

/* --- --- --- --- */
/* Custom Tailwind classes for text shadows */
@layer utilities {
  .text-outline-with-shadow {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000, -3px 3px var(--tw-shadow-color);
  }
  .text-outline {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
      1px -1px 0 #000;
  }
}

/* --- --- --- --- */
/* Everything */
:root {
  --textsize: 25px;
  --ballwidth: calc(var(--textsize) - 9px);
  --ballheight: calc(var(--textsize) - 9px);
  --topbounce: calc(var(--textsize) * 2);

  --svg-overlay-inactive: invert(26%) sepia(81%) saturate(2581%)
    hue-rotate(205deg) brightness(97%) contrast(95%);
  --svg-overlay-active: invert(19%) sepia(64%) saturate(2265%)
    hue-rotate(355deg) brightness(101%) contrast(91%);
}

:focus-visible {
  outline: #b10ba8 4px solid;
  outline-offset: 2px;
}

/* --- --- --- --- */
/* About Page: Change the marker on the Details list */
summary {
  list-style: none;
  display: flex;
  gap: 0.25rem;
  font-weight: 500;
}
/* Safari.... */
summary::-webkit-details-marker {
  display: none;
}
/* Space the text out a little. */
details p {
  margin-top: 0.5rem;
}
/* Make a custom marker */
summary::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="12 15 35 35" aria-labelledby="title" aria-describedby="desc" role="img" ><path data-name="layer1" fill="rgb(96 165 250)" stroke="%23202020" strokeMiterlimit="10" strokeWidth="2" d="M40 31.998L26 18l-4 4.486 9.515 9.512L22 41.513 26 46l14-14.002z" strokeLinejoin="round" strokeLinecap="round" ></path></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s;
}
/* Transition effect */
details[open] > summary::before {
  transform: rotate(90deg);
}

/* --- --- --- --- */
/* Bouncing "O" in Navbar */
.navbar-title {
  color: #ff5722;
  display: inline-block;
  height: var(--topbounce);
  line-height: var(--topbounce);
  font-size: 15px;
}

.bounce {
  position: relative;
  display: inline-block;
  height: 36px;
  width: var(--ballwidth);
  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ff5722;
    background-color: #ffffff00;
    animation: bounce 0.75s alternate infinite ease;
    transition: all 300ms ease-out;
  }
}

@media (min-width: 640px) {
  .text {
    font-size: var(--textsize);
  }

  .bounce {
    &:before {
      width: var(--ballwidth);
      height: var(--ballheight);
      left: 0;
      border-width: 2px;
    }
  }
}

.text:hover .bounce {
  &:before {
    animation-play-state: paused;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 70px 70px 20px 20px;
    transform: scaleX(1.2);
  }
  35% {
    height: var(--ballheight);
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

/* --- --- --- --- */
/* Nav bar links having sliding underlines */
nav a::after {
  animation: slide 2.5s alternate infinite ease;
  transition: all 150ms ease-in;
}

nav a:hover::after {
  animation: none;
}

@keyframes slide {
  0% {
    right: 1rem;
  }

  100% {
    right: 2rem;
  }
}

/* This class targets the corner web SVGs */
.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.6719999999999999;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

/* Floating sliding bar underneath nav link items */
.nav-link-item::after {
  content: "";
  width: 1rem;
  height: 2px;
  background-color: rgb(96 165 250);
  top: 1.75rem;
  position: absolute;
  transition: all 500ms;
}
.nav-link-item:hover::after {
  width: 100%;
  background-color: rgb(234 88 12);
  right: 0;
}

/* Targets the nav link which corresponds to the users current page */
.nav-link-item[aria-current="page"] {
  color: rgb(154 52 18);
  &::before {
    content: "→";
    top: 0rem;
    position: absolute;
    left: -1.25rem;
    font-weight: 800;
  }
  & img.svg-filter {
    filter: var(--svg-overlay-active);
  }
}

/* Adds a coloured overlay to the SVG icons in the nav bar */
.svg-filter {
  filter: var(--svg-overlay-inactive);
}
.nav-link-item:hover {
  & img.svg-filter {
    filter: var(--svg-overlay-active);
  }
}

/* --- --- --- --- */
/* Credits Page: Grid */
.credit-container {
  container-type: inline-size;
}
.credit-grid {
  margin-top: 2rem;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15ch);
  justify-content: center;
}

/* Potential foray into a 3D hover thing */
/* https://dev.to/webdiscus/3d-parallax-effect-by-moving-mouse-using-htmlcss-7b2 */
/* https://www.aktek.io/en/about-us */
/* Potentially useful: https://github.com/codegenixdev/3d-parallax-tutorial */
.threed-effect {
  transform-style: preserve-3d;
  transition: transform 1.5s cubic-bezier(0.05, 0.5, 0, 1);
  will-change: transform;
}
